html, body {
    width: 100%; 
    height: 100%;
}

body {
    background: #222;
    color: #ccc;
    font-family: "Lucida Grande", sans-serif;
    margin: 0; 
    padding: 0; 
    display: table; 
}

#back-to-menu {
    display: inline-block;
    margin: 10px;
}

::selection {
    background: #607950; /* Safari */
    }
::-moz-selection {
    background: #607950; /* Firefox */
}

input, button {
    background: black;
    color: #ccc;
    border: 0;
    padding: 0.3em 0.6em;
    font-size: 1em;
}

#createform, #customjoinform, #game {
    display: none;
}

#createform #maps {
    text-transform: capitalize;
}

#primarycolor {
    padding: 0.3em;
    width: 1em;
    background-color: black;
}

article#menu {
    margin: 4em auto;
    background: #1a1a1a;
    padding: 2em;
    max-width: 30em;
}

table, th, td {
    border: 1px solid #777;
    border-collapse: collapse;
}

th, td {
    padding: 0.5em 1em;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

#link {
    width: 100%;
}

.offline {
    background: #ccc;
}

tr:hover td {
    background: #222;
}

a {
    color: #ccc;
}


#canvasContainer { 
    /*
    text-align: center; 
    display: table-cell; 
    vertical-align: middle; 
    */
    height: 100%;
}

canvas { 
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -300px;
}

:-webkit-full-screen {
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

#devtools {
    font-family: monospace;
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
    background: #333;
}

#devtools p {
    padding: 5px 0 0 0;
    margin: 0;
}