@CHARSET "UTF-8";

*
{
  padding: 0px;
  margin: 0px;
}

body
{
	width: 100%;
	/* text-align: center; */
	background: #111111;
}

canvas
{
	margin: 10px;
	background: #666666;
	cursor: none;
}

#helpimage
{
	float: left;
	margin: 10px 0 0 10px;
}

#helpdiv
{
	float: left;
	color: #fff;
	font-size: 0.9em;
	margin: 10px 0 0 10px;
}